/* @import './base.css'; */
@import "./bootstrap/css/bootstrap.css";
@import "./bootstrap-icons/bootstrap-icons.css";

.product-page-change-button {
  border: 1px solid rgb(210, 210, 210); /* рамка вокруг блока с шириной */
  padding: 4px;
  cursor: pointer;
}

.product-page-change-button:hover {
  color: #0000d0
}

.product-page-change-button-current-page {
  border: 1px solid rgb(210, 210, 210); /* рамка вокруг блока с шириной */
  padding: 4px;
  color: rgb(8, 2, 2); /* цвет текста - серый*/
  background-color: #0cac89;
}

.pagination-container {
  display: flex;
  column-gap: 10px;
}
.paginate-buttons {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  cursor: pointer;
  background-color: rgb(242, 242, 242);
  border: 1px solid rgb(217, 217, 217);
  color: black;
}
.paginate-buttons:hover {
  background-color: #d8d8d8;
}
.active-page {
  background-color: #3498db;
  border: 1px solid #3498db;
  color: white;
}
.active-page:hover {
  background-color: #2988c8;
}